<footer class="site-footer">
    <section aria-label="Sección de datos de la empresa y Contacto" class="first-footer">
        <div class="column">
            <div class="container-logo">
                <img src="favicon.ico" alt="Logo de APP-CARS">
            </div>
        </div>
        <div class="column">
            <p class="heading">APP-CARS</p>
            <ul class="center"></ul>
        </div>
        <div class="column">
            <p class="heading">Contacto</p>
        </div>
        <div class="column">
            <p class="heading">Newsletter</p>
        </div>
    </section>
    <section aria-label="Sección de páginas legales" class="second-footer column-center">
        <nav class="legal-menu">
            <ul role="navbar" class="flex-center">
                <li>
                    <a href="/aviso-legal">Aviso legal</a>
                </li>
                <li>
                    <a href="/politica-cookies">Política de Cookies</a>
                </li>
                <li>
                    <a href="/politica-privacidad">Política de Privacidad</a>
                </li>
            </ul>
        </nav>
        <div>
            <p>&copy; <span class="year">{{get_year()}}</span></p>
        </div>
    </section>
</footer>
