<header class="site-header flex-center">
    <div class="container-logo">
        <img src="favicon.ico" alt="Logo de APP Cars">
    </div>
    <nav class="navbar">
        <ul class="flex-center">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/galeria">Galería</a>
            </li>
            <li>
                <a href="/ofertas">Ofertas</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="container-rr-ss">
    </div>
</header>
